.grid {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: calc(100% - 80px);
}

.row {
  height: 30px;
  position: relative;
  display: flex;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #a1a1a1;
  border-radius: 2px;
  background: #e7e7e7;
  height: 30px;
  flex-shrink: 0;
}

.headerRow {
  position: sticky;
  top: 0;
  display: flex;
  z-index: 11;
}

.colHeader {
  width: 158px;
  text-transform: uppercase;
}

.rowHeader {
  width: 30px;
  z-index: 10;
}

.stickLeft {
  display: flex;
  z-index: 10;
  position: sticky;
  left: 0;
}
