.fillCell {
    position: relative;
    z-index: 40;
}

.dropDown {
    position: absolute;
    display: flex;
    left: -25px;
    top: 53px;
    justify-content: space-evenly;
    align-items: center;
    background: #e7e7e7;
    height: 40px;
    width: 160px;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.dropDown::before {
    position: absolute;
    content: "";
    top: -26px;
    border-style: solid;
    border-width: 15px;
    border-color: transparent transparent #e7e7e7 transparent;
}

.option {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.option:hover {
    width: 25px;
    height: 25px;
    transition: all 0.1s ease-in-out;
}
